@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Padauk:wght@400;700&display=swap');
body{
    margin: 0 auto;
    background: #001124;
}
section{
    display: flex;
}
.left_scrin img{
    width: 100%;
}
.left_scrin{
    width: 50%;
    margin-top: 10%;
}
.right_scrin{
    width: 50%;
    margin-top: 13%;
}
.login{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 62px;
    color: white;
    padding-left: 15%;
    padding-bottom: 6%;
}
.form{
    padding-left: 15%;
}
input{
    width: 50%;
    height: 43px;
}
#login{
   font-size: 15px;
}
#pass{
    font-size: 15px;
}
.social{
    font-family: 'Padauk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}
.email{
    padding-bottom: 2%;
}
.form a{
    text-decoration: none;
}
.register{
    font-family: 'Padauk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #499FFE;
}
.user a{
    text-decoration: none;
}
.user{
    font-family: 'Padauk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    padding-left: 15%;
}
.knopka{
    padding-left: 15%;
}
button{
    width: 30%;
    height: 53px;
    background-color: #015FC7;
    font-family: 'Padauk';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    color: #FFFFFF;  
    margin-top: 3%; 
    border: none;
    border-radius: 5px;
}