@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Padauk:wght@400;700&display=swap');
body{
    margin: 0 auto;
    background: #001124;
}
section{
    display: flex;
}
.left_scrin img{
    width: 100%;
}
.left_scrin{
    width: 40%;
    margin-top: 5%;
}
.right_scrin{
    width: 60%;
    margin-top: 5%;
}
.login{
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 62px;
    color: white;
    padding-left: 35%;
    padding-bottom: 6%;
}
form{
    padding-left: 35%;
}
input{
    width: 57%;
    height: 43px;
}
#login{
   font-size: 15px;
}
#pass{
    font-size: 15px;
}
#tel{
    font-size: 15px;
}
.social{
    font-family: 'Padauk';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
}
.email{
    padding-bottom: 2%;
}
.knopka{
    margin-left: 12%;
}
button{
    width: 40%;
    height: 53px;
    background-color: #015FC7;
    font-family: 'Padauk';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;  
    margin-top: 3%; 
    border: none;
    border-radius: 5px;
}