@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;700&display=swap');
body{
    margin: 0 auto;
    background: #E5E5E5;
}
section{
    display: flex;
}
.left_scrin{
    width: 50%;
    padding-left: 20%;
}
.left_scrin1{
    width: 50%;
    padding-left: 20%;
    margin-bottom: 2%;
}
.right_scrin{
    width: 50%;
    margin-top: 11.7%
}
.right_scrin1{
    width: 50%;
    margin-top: 5%;
    margin-bottom: 2%;
}
.intake{
    margin-bottom: 15%; 
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
h3, h2{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
#ref{
    width: 50%;
    height: 45px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
}
#ref1{
    width: 50%;
    height: 45px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    text-align-last: center;
}
select:not([multiple]){
    padding-right: 1.2em;
    background-repeat: no-repeat;
    background-position: calc(100% - 0.25em) 0.35em;
    background: white;
}
#tel{
    width: 49.5%;
    height: 40px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    font-size: 13px;
}
#optional{
    width: 49.5%;
    height: 40px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    font-size: 13px;
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: 97%;
}
#optional1{
    width: 49.5%;
    height: 40px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    font-size: 13px;
    text-align: center;
}
#optional2{
    width: 49.5%;
    height: 40px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    font-size: 13px;
    padding-left: 5px;
}
#optional3{
    width: 49.5%;
    height: 40px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    font-size: 13px;
    padding-left: 5px;
    background-image: url(../img/Vector.png);
    background-repeat: no-repeat;
    background-position: 97%;
}
#optional4{
    width: 49.5%;
    height: 40px;
    border: 1px solid #ADADAD;
    border-radius: 4px;
    font-size: 13px;
    padding-left: 5px;
    background-image: url(../img/Vector\ —\ копия.png);
    background-repeat: no-repeat;
    background-position: 97%;
}

::placeholder{
    color: blue;
}
#checkbox{
    transform:scale(2);
    opacity:0.9;
    cursor:pointer;
    margin-top: 5%;
    margin-right: 10px;
}
.purged{
    margin-top: 19.8%;
}
.exempt{
    margin-top: 6.1%;
}
.support{
    margin-top: 8%;
}
.case{
    margin-top: 10%;
}
.case1{
    margin-top: 7.5%;
}
.border{
    border: 1px solid #D1D1D1;
    width: 75%;
    margin: 0 auto;
}
.knopka{
    text-align: right;
    margin-right: 19.5%;
}
button{
    width: 5%;
    height: 40px;
    background-color: #015FC7;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;  
    margin-top: 3%; 
    border: none;
    border-radius: 5px;
}
::-ms-value{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}
label{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
}
.check{
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-left: 1%;
}

