body{
    margin: 0 auto;
    background-color: #FBE4FF;
}
header{
    background-color: #243B93;
}
.head{
    margin: 0 auto;
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 7px;
    padding-left: 50px;
    padding-right: 50px;
}
.head ul{
    display: flex;
    list-style-type: none;
    padding-right: 20px;
    margin: 0 auto;
}
.head li a{
    box-sizing: border-box;
    width: 100%;
    height: 38px;
    color: white;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    text-decoration: none;
    font-family: 'PT Sans';
    font-weight: 500;
    font-size: 16px;
    display:flex;
    align-items: center;
}
.byd{
    background-color: #BFF0FF;
    text-align: left;
}
.byd p{
    margin: 0 auto;
    max-width: 1320px;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 44px;
    padding-top: 16px;
    padding-bottom: 10px
}
.house{
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
}
.search{
    background-color: white;
}
.search p{
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 28px;
    color: #0000009C;
    padding-top: 10px;
    padding-bottom: 10px;
}
.byd_info{
    box-sizing: border-box;
    display: flex;
    background-image: linear-gradient(90deg,#ADCBD4,#00AEE5);
    margin-bottom: 56px;
    position: relative;
    width: 100%;
}
.byd_info:hover{
    box-shadow: 0px 0px 60px 4px #2CBDEB;
    background: #2CBDEB;
}
.byd_info:hover svg path{
    fill: #FFF500;
}
.byd_info:hover .info{
    background-color: #EF075B;
}
.byd_info img{
    padding: 33px 21px 26px 52px;
}

.byd_nd{
    padding-right: 53px;
}
.byd_name{
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 14px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    text-align: left;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
}
.byddescr{
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #EDFBFF;
    text-align: left;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 125px;
    padding-bottom: 88px;
}
.bydodessa{
    box-sizing: border-box;
    margin: 0 auto;
    background-color: #EDFBFF;
    text-align: left;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    padding-top: 13px;
    padding-left: 10px;
    padding-right: 80px;
    padding-bottom: 59px;
}
.star{
    position: absolute;
    right: 10px;
    top: 5px;
}
.info{
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    right: -30px;

    background-color: #243B93;
    border-radius: 50px;
    padding: 8px 38px 11px 38px;
    text-align: center;
    color: white;
    font-family: 'PT Sans';
    font-size: 20px;
    text-decoration: none;
}
.house{
    position: relative;
}
.arrow{
   position: fixed;
    bottom: 5%;
    right: 1%;
}
.kabinet{
    background:linear-gradient(90deg, #FFE601 0%, #55D6FF 100%);
    height: 85px;
    max-width: 1920px;
    margin-bottom: 36px;
}
.kabi{
    font-size: 44px;
    font-family: 'PT Sans';
    position: relative; left: 60px; 
    padding-top: 17px;
}
.bio{
    box-sizing: border-box;
    display: flex;
    max-width: 1318px;
    height: 498px;   
    background: linear-gradient(180deg, #859EFF 0%, rgba(105, 255, 210, 0.5) 100%);
    margin: 0 auto;
}
.bio1{
    width: 0px;
    height: 0px;
}
.ava{
    margin-left: 148px;
    margin-bottom: 26px;
    margin-top: 305px;
}
.ikonka{
    padding-top: 77px;
    padding-left: 167px;
    margin-bottom: 35px;
}
.setup{
    position: relative; right: 248px;
    margin-top: 372px;
}
.button {
  border: none;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
  padding: 9px 38px 10px 38px;
  border-radius: 30px;
  color: #fff;
  width: 250px;
  height: 50px;
  font-family: 'PT Sans';
  font-style: normal;
}
.button.red {
  background:  #EF075B;
}
.button.blue{
   background: #243B93;
}
.infotext{
    font-size: 36px;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    color: rgb(0, 0, 0);
    padding-top: 46px;
    padding-bottom: 44px;
    position: relative; right: 100px;
}
.border{
    border: 2px solid #FFFFFF;
    width: 712px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative; right: 10px;
}
.chel{
    font-weight: 400;
}
.button.blue1{
  border: none;
  outline: none;
  display: block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 24px;
  border-radius: 30px;
  color: #fff;
  width: 174px;
  height: 50px;
  font-family: 'PT Sans';
  font-style: normal;
  margin-top: 28px;
}
.button.blue1{
    background: #243B93;
 }
 .out{
    display: flex;
    justify-content: center;
 }
 .cont{
    background:linear-gradient(90deg, #54D6FF 0%, #FFE600 100%);
    height: 85px;
    max-width: 1920px;
    margin-bottom: 36px;
}
.mapa{
    position: relative; left: 61%;
    margin-bottom: 28px;
}
.line{
    border: 2px solid #202846;
    width: 244px;
}
.line1{
    border: 2px solid #202846;
    width: 386px;
}
.line2{
    border: 2px solid #202846;
    width: 264px;
}
.tel{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 41px;
}
.cont1{
position: relative; right: 710px;
}
.adres{
 position: relative; right: 975px;
 padding-top: 125px;
}
.footer{
    border: 0px solid;
    background:  #243B93;
    width: 100%;
    height: 65px;
}
.super{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.16em;
    color: white;
    padding-top: 23px;
    padding-left: 60px;
}
.wrapper {
    display: flex;
  }
