.navbar-brand{
    padding-left: 144px;
    padding-right: 47.8px;
}
.nav-item{
    padding-right: 17.70px;
}
.cart{
    border: 1.5px solid black;
    height: 30px;
    width: 100px;
    border-radius: 3px;
    margin-right: 160px;
    display: flex;
}
.cart1{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex ;
    align-items: center;
    justify-content: center;
    color: #212529;
    position: relative; left: 30px;
}
.zero{
    border: 0px solid;
    width: 22.28px;
    height: 20.38px;
    left: calc(50% - 22.28px/2 + 32.51px);
    top: 8.81px;
    background: #212529;
    border-radius: 800px;
    display: flex;
    justify-content: center;
    margin-left: 35px;
    margin-top: 3px;
}
.zero1{
    color: white;
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    padding-top: 4px;
}
.shop{
    box-sizing: border-box;
    width: 1512px;
    height: 30vh;
}
.btn{
    border: 1.5px solid black;
    border-radius: 3px;
    margin-right: 160px;
    height: 35px;
    width: 120px;
    display: flex;
}
.card{
   margin: 97px 45px 25px;
   width: 268px;
}
.card1{
    
}
.card-title{
    text-align: center;
    padding-bottom: 32px;
}
.card-text{
    text-align: center;
    padding-bottom: 35px;
}
.btn-primary{
    margin: 0 auto;
    display: block;
    width: 125px;
    height: 40px;
    background-color: white;
    color: black;}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:visited{
    background-color: rgb(115, 115, 115);
    color: rgb(44, 44, 44);
}
.dollars{
    font-weight: 200;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    box-sizing: border-box;
    width: 1512px;
    height: 300px; 
}
.footer{
    box-sizing: border-box;
    width: 1512px;
    height: 120px;
    background: black;
}
.sale{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: absolute;
    left: 221.38px;
    right: 9px;
    top: 9px;
    bottom: 450.28px;
    background: #212529;
    border-radius: 4px;
}
.sale1{
    color: white;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    padding-top: 2px;
    padding-left: 4px;
}
.copyright{
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 47px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}