@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,600&display=swap');
.background{
    background-color: black;
    border: 2px solid black;
    width: 404px;
    height: 490px;
    margin: 0 auto;
}
.img{
    margin: 1rem;
}
.text{
    text-align: center;
    margin: 2rem;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.39em;
}
.block1{
    border: 5px solid white;
    width: 302px;
    height: 50px;
    margin: 0 auto;
}
.block2{
    border: 5px solid white;
    width: 302px;
    height: 50px;
    margin: 2rem auto;
}
.log{
    margin-top: 10px;
    justify-content: center;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.12em;
    font-variant: all-small-caps;
    text-decoration: none;
}
.log1{
    margin-top: 10px;
    justify-content: center;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.12em;
    font-variant: all-small-caps;
    text-decoration: none;
}