@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700&display=swap');
body{
    margin: 0 auto;
    background-color: #212529;
}
.logo{
    white-space: nowrap;
}
.vector{
    padding-left: 62px;
    padding-top: 25px;
}
.vector1{
    border: 0px solid;
    background: #FFB742;
    width: 121px;
    height: 54px;
    border-radius: 50px;
    margin-right: 48px;
    margin-top: 23px;
}
.hire{
    display: flex;
    justify-content: center;
    padding-top: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
}
nav{
    display: flex;
}
ul{
    display: flex;
    margin: 0 auto;
    padding-top: 40px;
    list-style-type: none;
}
a{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: white;
    padding: 25px;
}
a:hover{
    color: #FFB742;
}
.kart{
    display: flex;
    justify-content: center;
    padding-top: 116px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: white;
}
.kartik{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: white;
}
.kartik1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #FFB742;
    text-decoration: underline;
    padding-left: 5px;
}
.creative{
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 91px;
    color: white;
}
.design{
    display: flex;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 51px;
    color: white;
}
.ava{
    border: 0px solid;
    border-radius: 50%;
    background:#FFB742;
    display: flex;
    margin: 0 auto;
    margin-top: 25px;
    
}
.recta{
    display: flex;
    padding-top: 136px;
    justify-content: center;
}
.rectangle{
    display: flex;
    box-sizing: border-box;
    background: rgba(56, 62, 69, 0.44);
    width: 416px;
    height: 120px;
    border-radius: 10px;
    margin: 24px;
}
.rectangle:hover{
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.76) 99.33%);
}
.emblem{
    display: flex;
    width: 40px;
    height: 40px;
    background: #E9E9E9;
    border: 0px solid #E9E9E9;
    border-width: 10px;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: 28px;
}
.five{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #FFB742;
    margin: 0 auto;
    padding-left: 40px;
}
.years1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: white;
    margin: 0 auto;
}
.rectangle:hover .five{
    color: #212529;
}
.rectangle:hover .years1{
    color: #212529;
}
.years{
    margin: 0 auto;
    padding-top: 25px;
}
.about{
    display: flex;
    margin-top: 125px;
}
.about1{
    width: 10rem;   
    padding: 1.5%;
    border: 0px solid;
    background: rgba(56, 62, 69, 0.44);
    border-radius: 50px;
    text-align: center;
    white-space: nowrap;
}
.about3{
    width: 54%;
    text-align: start;
    padding-left: 30px;
}
.screenshot{
    width: 45%;
}
.screenshot img{
    width: 100%;
}
.who{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFB742;
}
.aboutme{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 30px;
    color: white;
    margin-top: 65px;
}
.hi{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: white;
    padding-top: 30px;
}
.hire1{
    display: flex;
    justify-content: center;
    padding-top: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: black;
}
.vector2{
    border: 0px solid;
    background: #FFB742;
    width: 147px;
    height: 54px;
    border-radius: 50px;
    margin-top: 54px;
    margin-bottom: 250px;
}
.skills_left{
    width: 50%;
}
.skills{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFB742;
    border: 0px solid;
    width: 50%;
    height: 1px;
}
.my_skills{
    border: 0px solid;
    width: 150px;
    height: 42px;
    background: rgba(56, 62, 69, 0.44);
    border-radius: 50px;
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFB742;
    padding-top: 15px;
    margin-left: 50px;
}
.skills1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: white;
    margin-left: 60px;
    margin-top: 7px;
}
.skills2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;  
    color: white;
    margin-left: 60px;
    margin-top: 30px;  
}
#grid { 
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 16px;
    margin-left: 815px;
    
    }
#grid > div{
    background:  #383E45;;
    width: 80px;
    height: 80px;
    text-align: center;
}
.testimonials{
    width: 12rem;   
    padding: 1.5%;
    border: 0px solid;
    background: rgba(56, 62, 69, 0.44);
    border-radius: 50px;
    text-align: center;
    margin: 0 auto;
}
.icon{
    border-radius: 10px;
    width: 100%;
}
.icon1{
    padding-top: 18px;
}
.vector3{
    border: 0px solid;
    background: #FFB742;
    width: 121px;
    height: 54px;
    border-radius: 50px;
    margin-top: 63px;
    margin-left: 52px;
}
.about2{
    border: 0px solid;
    width: 150px;
    height: 42px;
    background: rgba(56, 62, 69, 0.44);
    border-radius: 50px;
    text-align: center;
    padding-top: 10px;
    margin: 0 auto;
    margin-top: 150px;
}
.works{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: white;
}
.a1{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: white;   
}
.a1:hover{
    color: black;
}
.li1:hover{
    border: 0px solid;
    background: #FFB742;
    border-radius: 3px;
}
div.grid img{
    width: 100%;
}
.grid{
    display: grid;
    grid-template-columns: 410px 410px 410px;
    grid-gap: 2%;
    justify-content: center;
    margin-top: 50px;
}
.img5{
    position: relative; top: -212.5px;
}
.what{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 39.2896px;
    line-height: 46px;
    text-align: center;
    color: white;
}
.kart{
    display: flex;
}
.box{
    border: 0px solid;
    background: white;
    width: 25%;
    height: 10%;
    margin: 20px;
    border-radius: 8px;
    padding: 2%;
}
.lorem{
    position: relative; top: 10px; left: 33px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: black;
    word-break:break-all;
    text-align: left;
}
.zvezda{
    margin-left: 33px;
}
.ksuha{
    display: flex;
    margin-top: 40px;
    margin-left: 32px;
}
.ksuha1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 34px;
    color: black;
    margin-left: 24px;
}
.ksuha2{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 34px;
    color: black;
    margin-top: 30px;
    position: relative; right: 137px;
}
.footer{
    display: flex;
    box-sizing: border-box;
    height: 470px;
    background: #1C1C1C;   
    margin-top: 153px; 
}
.word{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #FFB742;
    padding-top: 148px;
    padding-left: 50px;
}
.word1{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    color: #D4D4D4;
    padding-top: 30px;
    padding-left: 50px;
}
.word2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21.5865px;
    line-height: 32px;
    color: white;
    
}
li{
    list-style-type: none;
}
.href{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17.9888px;
    line-height: 36px;
    color: #7B7B7B;
}
.useful{
    margin-top: 9.5%;
    margin-left: 15%;
}
.social{
    margin-top: 9.5%;
    margin-left: 15%;
}
.newsletter{
    margin-top: 9.5%;
    margin-left: 15%;
}
.href1{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17.9888px;
    line-height: 36px;
    color: #7B7B7B;
    position: relative; right: 25.7px;
}