body{
    margin: 0;
}
.UKRAINE{
    text-align: center;
    font-family: 'M PLUS 1';
    font-size: 48px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.ukrop{
    margin: 0 auto;
    text-align: center;
    font-size: 48px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.strong{
    color: blue;
}
.ukr{
    color: yellow;
}
.text{
    box-sizing: border-box;
    background-image: url(../img/img\ прапор.png), url(../img/1444411287_oboyi-na-robochiy-stl-ukrayina-8\ 1.png);
    background-size: none, cover;
    background-position: 80px 239px, 0px;
    background-repeat: no-repeat;
    padding-top: 225px;
    padding-bottom: 236px;
    padding-left: 141px;
    padding-right: 263px;
}
.text p {
    margin: 0 auto;
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    line-height: 200%;
    color: white;
}
.section{
    display: flex;
    margin-top: 42px;
    justify-content: center;
}
.text2{
    font-size: 35px;
    position: relative; left: 80px;    
}
.tustan{
    border: 5px solid #0D095F;
    width: 40%;
    height: 40%;
    border-radius: 30px;
    box-shadow: 0px 5px 20px 0px #00E0FF;
}
.tustanstar{
    font-size: 24px;
    color: #0072DB;
    padding-left: 10px;
    margin: 5px;
}
.fortesya{
    font-size: 20px;
    color: #FF9900;
    padding-left: 10px;
}
.tustan,
.lutsk{
    display: inline-block;
    border: 5px solid #0D095F;
    width: 40%;
    height: 40%;
    border-radius: 30px;
    box-shadow: 0px 5px 20px 0px #00E0FF;
    margin: 0 15px;
}
.zamok{
    font-size: 24px;
    color: #0072DB;
    padding-left: 10px;
    margin: 5px;
}
.mista{
    font-size: 20px;
    color: #FF9900;
    padding-left: 10px;
}
.tustan,
.lutsk,
.gorod{
    display: inline-block;
    border: 5px solid #0D095F;
    width: 27%;
    height: 481px;
    border-radius: 30px;
    box-shadow: 0px 5px 20px 0px #00E0FF;
    margin: 0 15px;
}
.mogila{
    font-size: 24px;
    color: #0072DB;
    padding-left: 10px;
    margin: 5px;
}
.priroda{
    font-size: 20px;
    color: #FF9900;
    padding-left: 10px;
}
.peremoshe{
    font-size: 35px;
    text-align: center;
    margin: 45px 0 6px;
}
.blue{
    background-color: blue;
    height: 7px;
    max-width: 600px;
    margin-left: 430px;
    margin-right: 430px;
}
.mapa{
    text-align: center;
    margin-top: 32px;
    width: 100%;
}
.go{
    border: 0px solid;
    background-color: blue;
    max-width: 499px;
    height: 81px;
    border-radius: 50px;
    margin: 0 auto;
    
}
.gohref{
    font-weight: 700;
    font-size: 64px;
    color: white;
    text-decoration: none;
}
.strongukr{
    border: 0px solid;
    width: 100%;
    height: 233px;
    margin-top: 2rem;
    background-image: linear-gradient(180deg, #013235 0%, #0D0661 100%);
}
.mail,
.telephone{
    color: #A89D9D;
    font-size: 36px;
    font-weight: 400;
    text-decoration: none;
}
.footer{
    text-align: center;
}